.dropdown-toggle{
    color: #08849b;
}

.ftr{
    background-color: #08849b;
}
.topcourses{
    background-color: #08849b;
}
.courses .text{
    color: #08849b;
}
.Spotlight h5{
    color: white;
}
.review h5{
    color:#08849b
}
.program-cat {
    position: relative;
    display: flex;
}

.program-cat img {
    width: 100%;
    height: 100%;
    opacity: 65%;
}

.program-cat .program-desc {
    position: absolute;
    width: 250px;
    color: rgb(0, 0, 0) !important;
    text-align: center;
    padding: 0px !important;
    margin: 0px !important;
    height: 10rem;
    display:inline-flex;
    flex-direction: column;

    flex-wrap: nowrap;
    
    justify-content: center;
    align-content: center;
    background-color: transparent;
}

.program-cat .program-desc a {
    display: block;
    background: #fff;
    text-align: center;
    width: 150px;
    text-decoration: none;
    text-transform: uppercase;
    color: transparent;
}
.carousel-item img{
    opacity: 65%;
}
