.dropdown-toggle{
    color: #08849b;
}
.ftr{
    background-color: #08849b;
}
.topcourses{
    background-color: #08849b;
}
.courses .text{
    color: #08849b;
}
.cat-item .cat-overlay {
    width: 460px;
    height: 100%;
    position: relative;
}
